# Generate Question & Answer Pairs

The idea is to generate prompts that follow the following format:

```
[
    {
        "question": "What are the features of the property at 123 Main St?",
        "answer": "The property at 123 Main St has 3 bedrooms, 2 bathrooms, a pool, and a garage."
    },
    {
        "question": "Show me properties with at least 3 bedrooms and 2 bathrooms.",
        "answer": "123 Main St, 456 Oak St, and 789 Pine St are properties with at least 3 bedrooms and 2 bathrooms."
    }
]
```

In [1]:
DATASET_FILE_PATH = 'temp/Trimmed_Metro_median_sale_price_all_homes_raw_monthly.csv.pkl'
OUTPUT_FILE_PATH = 'temp/zillow_qa_dataset.json'

In [2]:
import pandas as pd

df = pd.read_pickle(DATASET_FILE_PATH)

df = df[['RegionName', '2024-03-31']]

df.columns = ['Location', 'Price']

df.sample(20)

                 Location     Price
629          Riverton, WY  290000.0
410        Oak Harbor, WA  500000.0
415      Russellville, AR  179750.0
189        Charleston, WV  160000.0
596            Marion, NC  207000.0
123       Santa Maria, CA  890000.0
52       Grand Rapids, MI  310000.0
59         Bridgeport, CT  505000.0
344          Missoula, MT  557883.0
531              Elko, NV  335000.0
493      Mount Vernon, OH  242000.0
371         Kalispell, MT  487000.0
219      Johnson City, TN  241000.0
283           Hanford, CA  318000.0
235          Kingston, NY  400000.0
218           Elkhart, IN  225000.0
324       Glens Falls, NY  250000.0
398  New Philadelphia, OH  158950.0
605            Auburn, IN  225000.0
620          Bradford, PA   66000.0

In [ ]:
qa_pairs = []
for index, row in df.iterrows():
    # Simple Price Based Questions
    question = f"What is the median home price in {row['Location']}?"
    answer = f"The median home price in {row['Location']} is ${row['Price']:.0f}."
    qa_pairs.append({"question": question, "answer": answer})

    # Income-related question
    # question_income = f"What is the median household income in {row['Location']}?"
    # answer_income = f"The median household income in {row['Location']} is ${row['Median_Household_Income']}."
    # qa_pairs.append({"question": question_income, "answer": answer_income})
    
    # Complex question
    # question_complex = f"Which location would suit a family with a combined household income of ${row['Price']:.0f}?"
    # answer_complex = f"{row['Location']} would suit a family with a combined household income of ${row['Price']:.0f}."
    # qa_pairs.append({"question": question_complex, "answer": answer_complex})

qa_df = pd.DataFrame(qa_pairs)
qa_df.to_json(OUTPUT_FILE_PATH, index=False, orient='records')