In [65]:
import pandas as pd
school_df = pd.read_csv('../data/social_explorer_raw/School_Digger_2018.csv')
school_df = school_df.drop(index=0)
school_df = school_df.reset_index(drop=True)
print(school_df.shape)
school_df = school_df[['Qualifying Name', 'SchoolDigger Rank Elementary', 'SchoolDigger Rank High', 'SchoolDigger Rank Middle']]
school_df.head()
# school_df.columns

(19349, 30)

,Qualifying Name,SchoolDigger Rank Elementary,SchoolDigger Rank High,SchoolDigger Rank Middle
0,"Alabama Youth Services, Alabama",NaN,NaN,NaN
1,"Albertville City, Alabama",363,203,134
2,"Marshall County, Alabama",422,172.75,246
3,"Hoover City, Alabama",116.888888888889,12,22.3333333333333
4,"Madison City, Alabama",31.1428571428571,8,15.5

In [75]:
crime_df = pd.read_csv('../data/social_explorer_raw/crime.csv')
crime_df = crime_df.drop(index=0)
crime_df = crime_df.reset_index(drop=True)
crime_df['Total Violent and Property Crimes Rate'] = crime_df['Total Violent and Property Crimes Rate'].astype('float')
print(crime_df.shape)
# filtered_df = crime_df[crime_df['Name of Area'] == 'Crittenden County']
crime_df = crime_df[['Qualifying Name', 'Total Violent and Property Crimes Rate']]

crime_df = crime_df.sort_values(by='Total Violent and Property Crimes Rate', ascending=False)
print(crime_df['Total Violent and Property Crimes Rate'].isna().sum())
filtered_df = crime_df[pd.isna(crime_df['Total Violent and Property Crimes Rate'])]
# there are 42 counties that have no crime rate, will spot check these and see if we can assume that means they have very low crime/pop
# crime_df.columns
filtered_df.head(100)
# crime_df.head(3300)

(3177, 10)

                 Qualifying Name  Total Violent and Property Crimes Rate
204    Lassen County, California                             2081.955337
1526     Dallas County, Missouri                             1891.512600
348       Hardee County, Florida                             2657.541228
2155    Alfalfa County, Oklahoma                              880.829016
1576     Pettis County, Missouri                             4274.718769
3123    Oneida County, Wisconsin                             1732.137334
238    Tehama County, California                             3028.525219
1434  Greene County, Mississippi                              502.582717
2067          Allen County, Ohio                             3698.591013
508      Pulaski County, Georgia                             2203.256989

In [ ]:
health_df = pd.read_csv('../data/social_explorer_raw/Health_data_2023_Release.csv')
health_df = health_df.drop(index=0)
health_df = health_df.reset_index(drop=True)
# print(health_df.shape)
# health_df.head()
health_df.columns

In [ ]:
demographic_df = pd.read_csv('../data/social_explorer_raw/Census2020_PL94_Redistricting_Data.csv')
demographic_df = demographic_df.drop(index=0)
demographic_df = demographic_df.reset_index(drop=True)
# print(demographic_df.shape)
# demographic_df.head()
demographic_df.columns

In [ ]:
housing_df = pd.read_csv('../data/social_explorer_raw/Income_limits_and_fair_market_rent_2020.csv')
housing_df = housing_df.drop(index=0)
housing_df = housing_df.reset_index(drop=True)
# print(housing_df.shape)
# housing_df.head()
housing_df.columns

In [78]:
#economic indicator
unemployment_df = pd.read_csv('../data/social_explorer_raw/Unemployment_Statistics_2021.csv')
unemployment_df = unemployment_df.drop(index=0)
unemployment_df = unemployment_df.reset_index(drop=True)
# print(unemployment_df.shape)
# unemployment_df.head()
unemployment_df.columns

In [79]:
#religion indicator
religion_df = pd.read_csv('../data/social_explorer_raw/Religion.csv', low_memory=False)
religion_df = religion_df.drop(index=0)
religion_df = religion_df.reset_index(drop=True)
# print(religion_df.shape)
# religion_df.head()
religion_df.columns

In [ ]:
#environmental indicator
environment_df = pd.read_csv('../data/social_explorer_raw/Environmental_summaries_2011.csv')
environment_df = environment_df.drop(index=0)
environment_df = environment_df.reset_index(drop=True)
print(environment_df.shape)
print(environment_df.columns)

col_to_keep = ['Qualifying Name', 'Total Area of Land Coverage', 'Area Of Land Cover Class 11, Open Water'
       , 'Area Of Land Cover Class 12, Perennial Ice/Snow', 'Area Of Land Cover Class 21, Developed, Open Space', 'Area Of Land Cover Class 22, Developed, Low Intensity', 'Area Of Land Cover Class 23, Developed, Medium Intensity', 'Area Of Land Cover Class 24, Developed, High Intensity', 'Area Of Land Cover Class 31, Barren Land (Rock/Sand/Clay)','Area Of Land Cover Class 41, Deciduous Forest','Area Of Land Cover Class 42, Evergreen Forest','Area Of Land Cover Class 43, Mixed Forest', 'Area Of Land Cover Class 52, Shrub/Scrub', 'Area Of Land Cover Class 71, Grassland/Herbaceous', 'Area Of Land Cover Class 81, Pasture/Hay', 'Area Of Land Cover Class 82, Cultivated Crops', 'Area Of Land Cover Class 90, Woody Wetlands', 'Area Of Land Cover Class 95, Emergent Herbaceous Wetlands']

environment_df = environment_df[col_to_keep]

environment_df = environment_df.fillna(0)
environment_df['Total Area of Land Coverage'] = environment_df['Total Area of Land Coverage'].astype('float')

columns_to_convert = ['Area Of Land Cover Class 11, Open Water'
       , 'Area Of Land Cover Class 12, Perennial Ice/Snow', 'Area Of Land Cover Class 21, Developed, Open Space', 'Area Of Land Cover Class 22, Developed, Low Intensity', 'Area Of Land Cover Class 23, Developed, Medium Intensity', 'Area Of Land Cover Class 24, Developed, High Intensity', 'Area Of Land Cover Class 31, Barren Land (Rock/Sand/Clay)','Area Of Land Cover Class 41, Deciduous Forest','Area Of Land Cover Class 42, Evergreen Forest','Area Of Land Cover Class 43, Mixed Forest', 'Area Of Land Cover Class 52, Shrub/Scrub', 'Area Of Land Cover Class 71, Grassland/Herbaceous', 'Area Of Land Cover Class 81, Pasture/Hay', 'Area Of Land Cover Class 82, Cultivated Crops', 'Area Of Land Cover Class 90, Woody Wetlands', 'Area Of Land Cover Class 95, Emergent Herbaceous Wetlands']

for col in columns_to_convert:
    environment_df[col] = environment_df[col].astype('float')
    environment_df[col+' %'] = (environment_df[col] / environment_df['Total Area of Land Coverage']) * 100

col_to_keep = ['Qualifying Name', 'Total Area of Land Coverage', 'Area Of Land Cover Class 11, Open Water %'
       , 'Area Of Land Cover Class 12, Perennial Ice/Snow %', 'Area Of Land Cover Class 21, Developed, Open Space %', 'Area Of Land Cover Class 22, Developed, Low Intensity %', 'Area Of Land Cover Class 23, Developed, Medium Intensity %', 'Area Of Land Cover Class 24, Developed, High Intensity %', 'Area Of Land Cover Class 31, Barren Land (Rock/Sand/Clay) %','Area Of Land Cover Class 41, Deciduous Forest %','Area Of Land Cover Class 42, Evergreen Forest %','Area Of Land Cover Class 43, Mixed Forest %', 'Area Of Land Cover Class 52, Shrub/Scrub %', 'Area Of Land Cover Class 71, Grassland/Herbaceous %', 'Area Of Land Cover Class 81, Pasture/Hay %', 'Area Of Land Cover Class 82, Cultivated Crops %', 'Area Of Land Cover Class 90, Woody Wetlands %', 'Area Of Land Cover Class 95, Emergent Herbaceous Wetlands %']    

environment_df = environment_df[col_to_keep]

environment_df.head()
# environment_df.columns

In [ ]:
zillow_df = pd.read_pickle('../data/processed/Trimmed_Metro_mlp_raw_all_homes_monthly.csv.pkl')
zillow_df.sample(50)

In [80]:

merged_df = pd.merge(crime_df, school_df, on='Qualifying Name', how='left')
merged_df = pd.merge(merged_df, environment_df, on='Qualifying Name', how='left')
merged_df = pd.merge(merged_df, demographic_df, on='Qualifying Name', how='left')
merged_df = pd.merge(merged_df, housing_df, on='Qualifying Name', how='left')
print(merged_df.shape)
print(merged_df.columns)
merged_df.head()

(3177, 37)
Index(['Qualifying Name', 'Total Violent and Property Crimes Rate',
       'SchoolDigger Rank Elementary', 'SchoolDigger Rank High',
       'SchoolDigger Rank Middle', 'Total Area of Land Coverage',
       'Area Of Land Cover Class 11, Open Water %',
       'Area Of Land Cover Class 12, Perennial Ice/Snow %',
       'Area Of Land Cover Class 21, Developed, Open Space %',
       'Area Of Land Cover Class 22, Developed, Low Intensity %',
       'Area Of Land Cover Class 23, Developed, Medium Intensity %',
       'Area Of Land Cover Class 24, Developed, High Intensity %',
       'Area Of Land Cover Class 31, Barren Land (Rock/Sand/Clay) %',
       'Area Of Land Cover Class 41, Deciduous Forest %',
       'Area Of Land Cover Class 42, Evergreen Forest %',
       'Area Of Land Cover Class 43, Mixed Forest %',
       'Area Of Land Cover Class 52, Shrub/Scrub %',
       'Area Of Land Cover Class 71, Grassland/Herbaceous %',
       'Area Of Land Cover Class 81, Pasture/Hay %',
       'Area Of Land Cover Class 82, Cultivated Crops %',
       'Area Of Land Cover Class 90, Woody Wetlands %',
       'Area Of Land Cover Class 95, Emergent Herbaceous Wetlands %',
       '2020 Total Population', '2020 Population Density', 'White 2020 %',
       'African American or Black 2020 %',
       'American Indian and Alaska Native 2020 %', 'Asian 2020 %',
       'Native Hawaiian and Other Pacific Islander 2020 %', 'Other 2020 %',
       'Two or More Races 2020 %', 'Hispanic 2020 %',
       'Median Family Income (5-year ACS)', 'Fair Market Rent for One Bedroom',
       'Fair Market Rent for Two Bedrooms',
       'Fair Market Rent for Three Bedrooms',
       'Fair Market Rent for Four Bedrooms'],
      dtype='object')

,Qualifying Name,Total Violent and Property Crimes Rate,SchoolDigger Rank Elementary,SchoolDigger Rank High,SchoolDigger Rank Middle,Total Area of Land Coverage,"Area Of Land Cover Class 11, Open Water %","Area Of Land Cover Class 12, Perennial Ice/Snow %","Area Of Land Cover Class 21, Developed, Open Space %","Area Of Land Cover Class 22, Developed, Low Intensity %",...,Asian 2020 %,Native Hawaiian and Other Pacific Islander 2020 %,Other 2020 %,Two or More Races 2020 %,Hispanic 2020 %,Median Family Income (5-year ACS),Fair Market Rent for One Bedroom,Fair Market Rent for Two Bedrooms,Fair Market Rent for Three Bedrooms,Fair Market Rent for Four Bedrooms
0,"Autauga County, Alabama",3193.429010,275.8,157,198.75,1.565344e+09,1.520637,0.0,4.081365,1.343781,...,1.498172,0.059519,1.547487,5.368591,3.600034,65700,702,830,1047,1425
1,"Baldwin County, Alabama",2215.270525,186.045454545455,85.625,89.1818181818182,4.224505e+09,2.253587,0.0,5.032666,1.951684,...,0.891844,0.061700,2.301881,6.482372,5.473601,81000,749,916,1251,1566
2,"Barbour County, Alabama",2815.487038,657,333,422,2.342655e+09,2.508346,0.0,3.424691,0.747844,...,0.463862,0.003965,4.119256,2.775245,5.986600,43800,481,633,789,925
3,"Bibb County, Alabama",1110.814894,432,161,279,1.621768e+09,0.725375,0.0,3.493133,0.419098,...,0.143543,0.040371,2.085857,3.404656,3.319428,73100,861,986,1291,1425
4,"Blount County, Alabama",2416.881789,286.285714285714,164.714285714286,206.714285714286,1.685142e+09,0.999316,0.0,4.694987,1.295944,...,0.301011,0.040586,5.802077,6.182568,9.759191,73100,861,986,1291,1425

In [85]:
def summarize_row(row):
    summary = (
        f"{row['Qualifying Name']} has the following characteristics:\n"
        f"- Terrain makeup: \n"
        f"    {row['Area Of Land Cover Class 11, Open Water %']}% open water, "
        f"{row['Area Of Land Cover Class 12, Perennial Ice/Snow %']}% perennial ice/snow, "
        f"{row['Area Of Land Cover Class 21, Developed, Open Space %']}% developed open space, "
        f"{row['Area Of Land Cover Class 22, Developed, Low Intensity %']}% developed low intensity, "
        f"{row['Area Of Land Cover Class 23, Developed, Medium Intensity %']}% developed medium intensity, "
        f"{row['Area Of Land Cover Class 24, Developed, High Intensity %']}% developed high intensity, "
        f"{row['Area Of Land Cover Class 31, Barren Land (Rock/Sand/Clay) %']}% barren land (rock/sand/clay), "
        f"{row['Area Of Land Cover Class 41, Deciduous Forest %']}% deciduous forest, "
        f"{row['Area Of Land Cover Class 42, Evergreen Forest %']}% evergreen forest, "
        f"{row['Area Of Land Cover Class 43, Mixed Forest %']}% mixed forest, "
        f"{row['Area Of Land Cover Class 52, Shrub/Scrub %']}% shrub/scrub, "
        f"{row['Area Of Land Cover Class 71, Grassland/Herbaceous %']}% grassland/herbaceous, "
        f"{row['Area Of Land Cover Class 81, Pasture/Hay %']}% pasture/hay, "
        f"{row['Area Of Land Cover Class 82, Cultivated Crops %']}% cultivated crops, "
        f"{row['Area Of Land Cover Class 90, Woody Wetlands %']}% woody wetlands, "
        f"{row['Area Of Land Cover Class 95, Emergent Herbaceous Wetlands %']}% emergent herbaceous wetlands.\n"
        f"- Demographic makeup: \n"
        f"    Total Population {row['2020 Total Population']}, "
        f"Population Density {row['2020 Population Density']} per sq. mi., "
        f"White {row['White 2020 %']}%, "
        f"African American or Black {row['African American or Black 2020 %']}%, "
        f"Hispanic {row['Hispanic 2020 %']}%, "
        f"Median Family Income {row['Median Family Income (5-year ACS)']}.\n"
        f"- Crime rates: \n"
        f"    Total Violent and Property Crimes Rate {row['Total Violent and Property Crimes Rate']} per 100,000 people.\n"
        f"- School rankings: \n"
        f"    Elementary {row['SchoolDigger Rank Elementary']}, "
        f"Middle {row['SchoolDigger Rank Middle']}, "
        f"High {row['SchoolDigger Rank High']}.\n"
        f"- Housing: \n"
        f"    Fair Market Rent for One Bedroom ${row['Fair Market Rent for One Bedroom']}, "
        f"Fair Market Rent for Two Bedrooms ${row['Fair Market Rent for Two Bedrooms']}, "
        f"Fair Market Rent for Three Bedrooms ${row['Fair Market Rent for Three Bedrooms']}, "
        f"Fair Market Rent for Four Bedrooms ${row['Fair Market Rent for Four Bedrooms']}."
    )
    return summary



# Function to create the combined string
def create_combined_string(row):
    question = f"What are the key terrain characteristics of {row['Qualifying Name']}?"
    answer = summarize_row(row)
    return f"[INST] {question} [/INST] {answer} </s>"

merged_df['Combined'] = merged_df.apply(create_combined_string, axis=1)

# Create a new DataFrame with the combined column
combined_df = merged_df[['Combined']]

combined_df.to_pickle('../data/social_explorer/5_datasets.pkl')

print(combined_df.iloc[0]['Combined'])

[INST] What are the key terrain characteristics of Autauga County, Alabama? [/INST] Autauga County, Alabama has the following characteristics:
- Terrain makeup:
    1.5206370945068364% open water, 0.0% perennial ice/snow, 4.08136512366388% developed open space, 1.3437813888692447% developed low intensity, 0.4260980606242501% developed medium intensity, 0.11389829417037368% developed high intensity, 0.2670084190445307% barren land (rock/sand/clay), 17.385444821422308% deciduous forest, 18.68667964911736% evergreen forest, 12.89603517795674% mixed forest, 17.71132848187545% shrub/scrub, 1.697895267614995% grassland/herbaceous, 12.098804614117064% pasture/hay, 6.1464832104945115% cultivated crops, 5.181193730016771% woody wetlands, 0.44334666650567967% emergent herbaceous wetlands.
- Demographic makeup:
    Total Population 58805.0, Population Density 98.9223582606555 per sq. mi., White 71.69458379389508%, African American or Black 19.462630728679535%, Hispanic 3.6000340107133746%, Median Family Income 65700.
- Crime rates:
    Total Violent and Property Crimes Rate 3193.42900983843 per 100,000 people.
- School rankings:
    Elementary 275.8, Middle 198.75, High 157.
- Housing:
    Fair Market Rent for One Bedroom $702, Fair Market Rent for Two Bedrooms $830, Fair Market Rent for Three Bedrooms $1047, Fair Market Rent for Four Bedrooms $1425. </s>