In [90]:
import pandas as pd
school_df = pd.read_csv('../data/social_explorer_raw/School_Digger_2018.csv')
school_df = school_df.drop(index=0)
school_df = school_df.reset_index(drop=True)
print(school_df.shape)
school_df = school_df[['Qualifying Name', 'SchoolDigger Rank Elementary', 'SchoolDigger Rank High', 'SchoolDigger Rank Middle']]
school_df.head()
# school_df.columns

(19349, 30)

,Qualifying Name,SchoolDigger Rank Elementary,SchoolDigger Rank High,SchoolDigger Rank Middle
0,"Alabama Youth Services, Alabama",NaN,NaN,NaN
1,"Albertville City, Alabama",363,203,134
2,"Marshall County, Alabama",422,172.75,246
3,"Hoover City, Alabama",116.888888888889,12,22.3333333333333
4,"Madison City, Alabama",31.1428571428571,8,15.5

In [91]:
crime_df = pd.read_csv('../data/social_explorer_raw/crime.csv')
crime_df = crime_df.drop(index=0)
crime_df = crime_df.reset_index(drop=True)
crime_df['Total Violent and Property Crimes Rate'] = crime_df['Total Violent and Property Crimes Rate'].astype('float')
print(crime_df.shape)
# filtered_df = crime_df[crime_df['Name of Area'] == 'Crittenden County']
crime_df = crime_df[['Qualifying Name', 'Total Violent and Property Crimes Rate']]

# crime_df = crime_df.sort_values(by='Total Violent and Property Crimes Rate', ascending=False)
# print(crime_df['Total Violent and Property Crimes Rate'].isna().sum())
# filtered_df = crime_df[pd.isna(crime_df['Total Violent and Property Crimes Rate'])]
# there are 42 counties that have no crime rate, will spot check these and see if we can assume that means they have very low crime/pop
# crime_df.columns
# filtered_df.head(100)
crime_df.sample(10)

(3177, 10)

,Qualifying Name,Total Violent and Property Crimes Rate
2104,"Huron County, Ohio",873.726879
2036,"McHenry County, North Dakota",668.002672
3022,"Whitman County, Washington",1907.019455
3146,"Washington County, Wisconsin",1354.586457
2479,"Fentress County, Tennessee",2576.309157
424,"Clinch County, Georgia",4084.321476
2739,"Rains County, Texas",1160.261059
74,"Fairbanks North Star Borough, Alaska",1627.464597
1289,"Luce County, Michigan",2116.402116
3106,"Jackson County, Wisconsin",1767.383304

In [92]:
# health_df = pd.read_csv('../data/social_explorer_raw/Health_data_2023_Release.csv')
# health_df = health_df.drop(index=0)
# health_df = health_df.reset_index(drop=True)
# # print(health_df.shape)
# health_df.head()
# print(health_df)
# health_df.columns

Demographic data:
We shrink the demographic dataset to focus on population number of each ethnic group of the latest year(year 2020). We do not care about historical data as we are not interested in analyzing trends. Therefore we omit cols such as 2010 total population and ethic population of ethnic group in 2010.

In [93]:
demographic_df = pd.read_csv('../data/social_explorer_raw/Census2020_PL94_Redistricting_Data.csv')
demographic_df = demographic_df.drop(index=0)
demographic_df = demographic_df.reset_index(drop=True)
# print(demographic_df.shape)
# check and remove identical columns
# print(demographic_df_filtered['2020 Total Population'].equals(demographic_df_filtered['2020 Total Population.2']))
# print(demographic_df_filtered['2020 Total Population'].equals(demographic_df_filtered['2020 Total Population.3']))

demographic_df.head()

demographic_col_to_keep = ['Qualifying Name','2020 Total Population','2020 Population Density', '2020 Housing Units',
       '2020 Occupied Units', '2020 Vacant Units',
       'White 2020', 'African American or Black 2020',
       'American Indian and Alaska Native 2020', 'Asian 2020',
       'Native Hawaiian and Other Pacific Islander 2020', 'Other 2020',
       'Two or More Races 2020',
       'Non-Hispanic 2020', 'Hispanic 2020']
demographic_df_filtered = demographic_df[demographic_col_to_keep]
# print(demographic_df.columns)
# demographic_df_filtered.sample(50)

columns_to_convert = [
       'White 2020', 'African American or Black 2020',
       'American Indian and Alaska Native 2020', 'Asian 2020',
       'Native Hawaiian and Other Pacific Islander 2020',
       'Other 2020', 'Two or More Races 2020',
       'Non-Hispanic 2020', 'Hispanic 2020'
]

demographic_df_filtered = demographic_df_filtered.dropna()
demographic_df_filtered['2020 Total Population'] = demographic_df_filtered['2020 Total Population'].astype('float')


for col in columns_to_convert:
    demographic_df_filtered[col] = demographic_df_filtered[col].astype('float')
    demographic_df_filtered[col+' %'] = (demographic_df_filtered[col] / demographic_df_filtered['2020 Total Population']) * 100

demographic_col_to_keep = ['Qualifying Name','2020 Total Population','2020 Population Density',
       'White 2020 %', 'African American or Black 2020 %',
       'American Indian and Alaska Native 2020 %', 'Asian 2020 %',
       'Native Hawaiian and Other Pacific Islander 2020 %', 'Other 2020 %',
       'Two or More Races 2020 %', 'Hispanic 2020 %']
demographic_df = demographic_df_filtered[demographic_col_to_keep]

# Print the updated DataFrame
# print(demographic_df_filtered)
print(demographic_df.shape)
demographic_df.head()

(3221, 11)

,Qualifying Name,2020 Total Population,2020 Population Density,White 2020 %,African American or Black 2020 %,American Indian and Alaska Native 2020 %,Asian 2020 %,Native Hawaiian and Other Pacific Islander 2020 %,Other 2020 %,Two or More Races 2020 %,Hispanic 2020 %
0,"Autauga County, Alabama",58805.0,98.9223582606555,71.694584,19.462631,0.369016,1.498172,0.059519,1.547487,5.368591,3.600034
1,"Baldwin County, Alabama",231767.0,145.780443967561,81.719572,7.860049,0.682582,0.891844,0.061700,2.301881,6.482372,5.473601
2,"Barbour County, Alabama",25223.0,28.5003067314037,44.867779,47.309995,0.459898,0.463862,0.003965,4.119256,2.775245,5.986600
3,"Bibb County, Alabama",22293.0,35.8137988903938,74.260979,19.795451,0.269143,0.143543,0.040371,2.085857,3.404656,3.319428
4,"Blount County, Alabama",59134.0,91.6961633730729,85.674908,1.428958,0.569892,0.301011,0.040586,5.802077,6.182568,9.759191

The latest year of housing data available on Social Explorer was year 2020. This dataset include property rental data such as fair market rent.

In [94]:
housing_df = pd.read_csv('../data/social_explorer_raw/Income_limits_and_fair_market_rent_2020.csv')
housing_df = housing_df.drop(index=0)
housing_df = housing_df.reset_index(drop=True)
# print(housing_df.shape)
housing_col_to_keep = ['Qualifying Name', 'Median Family Income (5-year ACS)', 'Fair Market Rent for One Bedroom',
       'Fair Market Rent for Two Bedrooms',
       'Fair Market Rent for Three Bedrooms',
       'Fair Market Rent for Four Bedrooms']
housing_df = housing_df[housing_col_to_keep]
# check and remove duplicate column
# print(housing_df_filtered['Fair Market Rent for Two Bedrooms'].equals(housing_df_filtered['FY 2020 Fair Market Rent (Two-Bedrooms)']))
print(housing_df.columns)
housing_df.sample(50)

Index(['Qualifying Name', 'Median Family Income (5-year ACS)',
       'Fair Market Rent for One Bedroom', 'Fair Market Rent for Two Bedrooms',
       'Fair Market Rent for Three Bedrooms',
       'Fair Market Rent for Four Bedrooms'],
      dtype='object')

,Qualifying Name,Median Family Income (5-year ACS),Fair Market Rent for One Bedroom,Fair Market Rent for Two Bedrooms,Fair Market Rent for Three Bedrooms,Fair Market Rent for Four Bedrooms
2087,"Dunstable town, Massachusetts",108000,1188,1534,1912,2078
4260,"Newport city, Vermont",59800,686,781,1040,1241
451,"Columbia town, Connecticut",97400,993,1230,1533,1757
4254,"Greensboro town, Vermont",59800,686,781,1040,1241
222,"San Diego County, California",92700,1566,2037,2894,3576
2378,"Mower County, Minnesota",73700,598,788,1111,1142
3301,"Stutsman County, North Dakota",78900,542,714,985,1058
2550,"Knox County, Missouri",53500,481,634,851,968
2117,"Wakefield town, Massachusetts",119000,1900,2311,2880,3131
2405,"Todd County, Minnesota",63200,542,714,890,967
3063,"Cibola County, New Mexico",48500,627,714,938,1004
571,"Charlton County, Georgia",57700,572,651,829,932
1583,"Nobleboro town, Maine",73600,711,874,1089,1349
521,"Marion County, Florida",55000,730,899,1186,1334
197,"Humboldt County, California",72000,806,1040,1500,1797
1056,"Butler County, Kansas",72600,630,822,1121,1372
1200,"Hardin County, Kentucky",68600,593,781,1127,1371
1910,"Adams town, Massachusetts",90900,815,1026,1309,1428
4631,"Outagamie County, Wisconsin",86400,624,810,1124,1128
729,"Clearwater County, Idaho",55600,595,783,1009,1061
365,"Cornwall town, Connecticut",102600,916,1180,1502,1599
4202,"Fairfax town, Vermont",89700,1223,1573,1974,2131
3778,"Lincoln County, Tennessee",53800,516,655,900,911
2056,"Easthampton Town city, Massachusetts",77200,875,1115,1389,1611
3134,"Rensselaer County, New York",99200,855,1054,1313,1428
3186,"Durham County, North Carolina",90900,934,1088,1461,1645
1121,"Pawnee County, Kansas",60100,627,714,1030,1039
4475,"Manassas Park city, Virginia",126000,1500,1707,2215,2707
4420,"Nelson County, Virginia",93900,1082,1262,1573,1942
728,"Clark County, Idaho",60900,588,770,1076,1260
1449,"Standish town, Maine",100900,1167,1516,1982,2413
3861,"Cochran County, Texas",55500,570,714,890,1074
1789,"Thorndike town, Maine",65500,727,828,1093,1454
1429,"Casco town, Maine",100900,1167,1516,1982,2413
191,"Colusa County, California",66400,712,938,1353,1647
1501,"Marshall Island UT, Maine",70300,759,894,1133,1230
2705,"Garfield County, Nebraska",58800,534,698,870,983
640,"Lumpkin County, Georgia",59800,640,843,1112,1423
4406,"James City County, Virginia",82500,958,1136,1603,1994
4721,"Isabela Municipio, Puerto Rico",21500,372,424,554,669
96,"Apache County, Arizona",43200,589,723,980,1117
4401,"Hanover County, Virginia",89400,932,1061,1410,1686
3311,"Ashtabula County, Ohio",55600,528,696,950,978
4021,"Runnels County, Texas",53800,542,714,890,967
675,"Stewart County, Georgia",30100,494,651,811,998
3310,"Ashland County, Ohio",67200,538,696,894,1111
4248,"Brownington town, Vermont",59800,686,781,1040,1241
2769,"Humboldt County, Nevada",85900,734,965,1203,1307
4367,"Augusta County, Virginia",71400,683,899,1222,1285
3288,"Pembina County, North Dakota",82700,627,714,1012,1224

In [95]:
# #economic indicator
# unemployment_df = pd.read_csv('../data/social_explorer_raw/Unemployment_Statistics_2021.csv')
# unemployment_df = unemployment_df.drop(index=0)
# unemployment_df = unemployment_df.reset_index(drop=True)
# # print(unemployment_df.shape)
# unemployment_col_to_keep = ['Qualifying Name', 'Name of Area', 'FIPS', 'Labor Force as of July 2021',
#        'Employed as of July 2021', 'Unemployed as of July 2021',
#        'Unemployment rate % as of July 2021']
# unemployment_filtered = unemployment_df[unemployment_col_to_keep]
# # check and remove duplicate column
# # print(housing_df_filtered['Fair Market Rent for Two Bedrooms'].equals(housing_df_filtered['FY 2020 Fair Market Rent (Two-Bedrooms)']))
# print(unemployment_filtered.columns)
# unemployment_filtered.sample(50)

In [96]:
# #religion indicator
# religion_df = pd.read_csv('../data/social_explorer_raw/Religion.csv', low_memory=False)
# religion_df = religion_df.drop(index=0)
# religion_df = religion_df.reset_index(drop=True)
# print(religion_df.shape)
# # unemployment_col_to_keep = ['Qualifying Name', 'Name of Area', 'FIPS', 'Labor Force as of July 2021',
# #        'Employed as of July 2021', 'Unemployed as of July 2021',
# #        'Unemployment rate % as of July 2021']
# # unemployment_filtered = unemployment_df[unemployment_col_to_keep]
# print(religion_df.columns)
# religion_df.sample(50)

In [97]:
#environmental indicator
environment_df = pd.read_csv('../data/social_explorer_raw/Environmental_summaries_2011.csv')
environment_df = environment_df.drop(index=0)
environment_df = environment_df.reset_index(drop=True)
print(environment_df.shape)
print(environment_df.columns)

col_to_keep = ['Qualifying Name', 'Total Area of Land Coverage', 'Area Of Land Cover Class 11, Open Water'
       , 'Area Of Land Cover Class 12, Perennial Ice/Snow', 'Area Of Land Cover Class 21, Developed, Open Space', 'Area Of Land Cover Class 22, Developed, Low Intensity', 'Area Of Land Cover Class 23, Developed, Medium Intensity', 'Area Of Land Cover Class 24, Developed, High Intensity', 'Area Of Land Cover Class 31, Barren Land (Rock/Sand/Clay)','Area Of Land Cover Class 41, Deciduous Forest','Area Of Land Cover Class 42, Evergreen Forest','Area Of Land Cover Class 43, Mixed Forest', 'Area Of Land Cover Class 52, Shrub/Scrub', 'Area Of Land Cover Class 71, Grassland/Herbaceous', 'Area Of Land Cover Class 81, Pasture/Hay', 'Area Of Land Cover Class 82, Cultivated Crops', 'Area Of Land Cover Class 90, Woody Wetlands', 'Area Of Land Cover Class 95, Emergent Herbaceous Wetlands']

environment_df = environment_df[col_to_keep]

environment_df = environment_df.fillna(0)
environment_df['Total Area of Land Coverage'] = environment_df['Total Area of Land Coverage'].astype('float')

columns_to_convert = ['Area Of Land Cover Class 11, Open Water'
       , 'Area Of Land Cover Class 12, Perennial Ice/Snow', 'Area Of Land Cover Class 21, Developed, Open Space', 'Area Of Land Cover Class 22, Developed, Low Intensity', 'Area Of Land Cover Class 23, Developed, Medium Intensity', 'Area Of Land Cover Class 24, Developed, High Intensity', 'Area Of Land Cover Class 31, Barren Land (Rock/Sand/Clay)','Area Of Land Cover Class 41, Deciduous Forest','Area Of Land Cover Class 42, Evergreen Forest','Area Of Land Cover Class 43, Mixed Forest', 'Area Of Land Cover Class 52, Shrub/Scrub', 'Area Of Land Cover Class 71, Grassland/Herbaceous', 'Area Of Land Cover Class 81, Pasture/Hay', 'Area Of Land Cover Class 82, Cultivated Crops', 'Area Of Land Cover Class 90, Woody Wetlands', 'Area Of Land Cover Class 95, Emergent Herbaceous Wetlands']

for col in columns_to_convert:
    environment_df[col] = environment_df[col].astype('float')
    environment_df[col+' %'] = (environment_df[col] / environment_df['Total Area of Land Coverage']) * 100

col_to_keep = ['Qualifying Name', 'Total Area of Land Coverage', 'Area Of Land Cover Class 11, Open Water %'
       , 'Area Of Land Cover Class 12, Perennial Ice/Snow %', 'Area Of Land Cover Class 21, Developed, Open Space %', 'Area Of Land Cover Class 22, Developed, Low Intensity %', 'Area Of Land Cover Class 23, Developed, Medium Intensity %', 'Area Of Land Cover Class 24, Developed, High Intensity %', 'Area Of Land Cover Class 31, Barren Land (Rock/Sand/Clay) %','Area Of Land Cover Class 41, Deciduous Forest %','Area Of Land Cover Class 42, Evergreen Forest %','Area Of Land Cover Class 43, Mixed Forest %', 'Area Of Land Cover Class 52, Shrub/Scrub %', 'Area Of Land Cover Class 71, Grassland/Herbaceous %', 'Area Of Land Cover Class 81, Pasture/Hay %', 'Area Of Land Cover Class 82, Cultivated Crops %', 'Area Of Land Cover Class 90, Woody Wetlands %', 'Area Of Land Cover Class 95, Emergent Herbaceous Wetlands %']    

environment_df = environment_df[col_to_keep]

environment_df.head()
# environment_df.columns

(3218, 24)
Index(['FIPS', 'Name of Area', 'Qualifying Name', 'Nation', 'State', 'County',
       'Census Tract', 'Total Area of Land Coverage',
       'Area Of Land Cover Class 11, Open Water',
       'Area Of Land Cover Class 12, Perennial Ice/Snow',
       'Area Of Land Cover Class 21, Developed, Open Space',
       'Area Of Land Cover Class 22, Developed, Low Intensity',
       'Area Of Land Cover Class 23, Developed, Medium Intensity',
       'Area Of Land Cover Class 24, Developed, High Intensity',
       'Area Of Land Cover Class 31, Barren Land (Rock/Sand/Clay)',
       'Area Of Land Cover Class 41, Deciduous Forest',
       'Area Of Land Cover Class 42, Evergreen Forest',
       'Area Of Land Cover Class 43, Mixed Forest',
       'Area Of Land Cover Class 52, Shrub/Scrub',
       'Area Of Land Cover Class 71, Grassland/Herbaceous',
       'Area Of Land Cover Class 81, Pasture/Hay',
       'Area Of Land Cover Class 82, Cultivated Crops',
       'Area Of Land Cover Class 90, Woody Wetlands',
       'Area Of Land Cover Class 95, Emergent Herbaceous Wetlands'],
      dtype='object')

,Qualifying Name,Total Area of Land Coverage,"Area Of Land Cover Class 11, Open Water %","Area Of Land Cover Class 12, Perennial Ice/Snow %","Area Of Land Cover Class 21, Developed, Open Space %","Area Of Land Cover Class 22, Developed, Low Intensity %","Area Of Land Cover Class 23, Developed, Medium Intensity %","Area Of Land Cover Class 24, Developed, High Intensity %","Area Of Land Cover Class 31, Barren Land (Rock/Sand/Clay) %","Area Of Land Cover Class 41, Deciduous Forest %","Area Of Land Cover Class 42, Evergreen Forest %","Area Of Land Cover Class 43, Mixed Forest %","Area Of Land Cover Class 52, Shrub/Scrub %","Area Of Land Cover Class 71, Grassland/Herbaceous %","Area Of Land Cover Class 81, Pasture/Hay %","Area Of Land Cover Class 82, Cultivated Crops %","Area Of Land Cover Class 90, Woody Wetlands %","Area Of Land Cover Class 95, Emergent Herbaceous Wetlands %"
0,"Autauga County, Alabama",1.565344e+09,1.520637,0.0,4.081365,1.343781,0.426098,0.113898,0.267008,17.385445,18.686680,12.896035,17.711328,1.697895,12.098805,6.146483,5.181194,0.443347
1,"Baldwin County, Alabama",4.224505e+09,2.253587,0.0,5.032666,1.951684,0.762118,0.221224,0.549949,0.500288,24.494418,2.280303,13.158137,5.308386,5.935690,9.851117,25.497764,2.202670
2,"Barbour County, Alabama",2.342655e+09,2.508346,0.0,3.424691,0.747844,0.208802,0.064504,0.138766,20.416950,27.406097,8.530936,16.720106,2.400546,6.826408,5.434910,4.888453,0.282641
3,"Bibb County, Alabama",1.621768e+09,0.725375,0.0,3.493133,0.419098,0.147006,0.033297,0.297398,27.114138,29.158851,13.170740,11.703119,3.735702,5.232790,0.564384,4.015397,0.189571
4,"Blount County, Alabama",1.685142e+09,0.999316,0.0,4.694987,1.295944,0.305280,0.080806,0.460537,33.130401,10.216623,6.108856,5.979449,4.563230,26.893526,4.534336,0.690512,0.046198

In [98]:
zillow_df = pd.read_pickle('../data/processed/Trimmed_Metro_mlp_raw_all_homes_monthly.csv.pkl')
zillow_df.sample(50)

     RegionID  SizeRank        RegionName RegionType StateName  2024-03-31
106    394770       107       Lansing, MI        msa        MI    199900.0
427    394776       434        Laurel, MS        msa        MS    225000.0
438    394489       445      Columbus, IN        msa        IN    285000.0
642    394817       650  Madisonville, KY        msa        KY    205000.0
815    394320       824        Alpena, MI        msa        MI    174500.0
662    394895       670     Muscatine, IA        msa        IA    204500.0
758    394569       767       Emporia, KS        msa        KS    177400.0
91     395006        92         Provo, UT        msa        UT    549900.0
755    394430       764         Butte, MT        msa        MT    275000.0
634    394883       642      Moultrie, GA        msa        GA    250000.0
313    394668       317  Harrisonburg, VA        msa        VA    364900.0
306    394879       310    Morgantown, WV        msa        WV    324000.0
75     394648        76    Greensboro, NC        msa        NC    285000.0
724    845165       732        Minden, LA        msa        LA    188450.0
865    394601       876  Forrest City, AR        msa        AR    157000.0
46     394910        47   New Orleans, LA        msa        LA    315000.0
412    394469       418    Clarksburg, WV        msa        WV    189450.0
474    394683       481         Hobbs, NM        msa        NM    199000.0
158    395107       159    South Bend, IN        msa        IN    209900.0
48     394669        49      Hartford, CT        msa        CT    335450.0
186    395171       188    Tuscaloosa, AL        msa        AL    279900.0
608    394919       616       Norfolk, NE        msa        NE    259900.0
347    395089       352     Sheboygan, WI        msa        WI    279900.0
415    394980       421    Pine Bluff, AR        msa        AR    141000.0
650    394667       658      Harrison, AR        msa        AR    295450.0
430    394859       437       Midland, MI        msa        MI    255000.0
601    394316       609         Alice, TX        msa        TX    180000.0
234    395009       237   Punta Gorda, FL        msa        FL    359694.0
817    394673       826          Hays, KS        msa        KS    219450.0
249    394351       253        Auburn, AL        msa        AL    375000.0
232    395151       235   Terre Haute, IN        msa        IN    169450.0
645    395189       653     Vicksburg, MS        msa        MS    195000.0
693    394934       701    Okeechobee, FL        msa        FL    165000.0
827    753879       836        Elkins, WV        msa        WV    199999.0
184    394323       186      Amarillo, TX        msa        TX    270000.0
229    394380       232          Bend, OR        msa        OR    749950.0
554    394446       562    Cedar City, UT        msa        UT    419000.0
610    395043       618        Ruston, LA        msa        LA    230000.0
239    394729       243        Joplin, MO        msa        MO    230000.0
876    394945       887     Oskaloosa, IA        msa        IA    201000.0
639    394961       647     Paragould, AR        msa        AR    199000.0
896    753914       908   Port Lavaca, TX        msa        TX    160000.0
445    394986       452   Plattsburgh, NY        msa        NY    270000.0
558    394556       566       Edwards, CO        msa        CO   1950000.0
407    394501       413       Corning, NY        msa        NY    180000.0
522    394443       530      Carlsbad, NM        msa        NM    289000.0
917    394342       929      Atchison, KS        msa        KS    145000.0
527    845162       535      Granbury, TX        msa        TX    421000.0
506    394496       514      Coos Bay, OR        msa        OR    350000.0
425    394568       432        Elmira, NY        msa        NY    169900.0

In [99]:

merged_df = pd.merge(crime_df, school_df, on='Qualifying Name', how='left')
merged_df = pd.merge(merged_df, environment_df, on='Qualifying Name', how='left')
merged_df = pd.merge(merged_df, demographic_df, on='Qualifying Name', how='left')
merged_df = pd.merge(merged_df, housing_df, on='Qualifying Name', how='left')
print(merged_df.shape)
print(merged_df.columns)
merged_df.head()

(3177, 37)
Index(['Qualifying Name', 'Total Violent and Property Crimes Rate',
       'SchoolDigger Rank Elementary', 'SchoolDigger Rank High',
       'SchoolDigger Rank Middle', 'Total Area of Land Coverage',
       'Area Of Land Cover Class 11, Open Water %',
       'Area Of Land Cover Class 12, Perennial Ice/Snow %',
       'Area Of Land Cover Class 21, Developed, Open Space %',
       'Area Of Land Cover Class 22, Developed, Low Intensity %',
       'Area Of Land Cover Class 23, Developed, Medium Intensity %',
       'Area Of Land Cover Class 24, Developed, High Intensity %',
       'Area Of Land Cover Class 31, Barren Land (Rock/Sand/Clay) %',
       'Area Of Land Cover Class 41, Deciduous Forest %',
       'Area Of Land Cover Class 42, Evergreen Forest %',
       'Area Of Land Cover Class 43, Mixed Forest %',
       'Area Of Land Cover Class 52, Shrub/Scrub %',
       'Area Of Land Cover Class 71, Grassland/Herbaceous %',
       'Area Of Land Cover Class 81, Pasture/Hay %',
       'Area Of Land Cover Class 82, Cultivated Crops %',
       'Area Of Land Cover Class 90, Woody Wetlands %',
       'Area Of Land Cover Class 95, Emergent Herbaceous Wetlands %',
       '2020 Total Population', '2020 Population Density', 'White 2020 %',
       'African American or Black 2020 %',
       'American Indian and Alaska Native 2020 %', 'Asian 2020 %',
       'Native Hawaiian and Other Pacific Islander 2020 %', 'Other 2020 %',
       'Two or More Races 2020 %', 'Hispanic 2020 %',
       'Median Family Income (5-year ACS)', 'Fair Market Rent for One Bedroom',
       'Fair Market Rent for Two Bedrooms',
       'Fair Market Rent for Three Bedrooms',
       'Fair Market Rent for Four Bedrooms'],
      dtype='object')

,Qualifying Name,Total Violent and Property Crimes Rate,SchoolDigger Rank Elementary,SchoolDigger Rank High,SchoolDigger Rank Middle,Total Area of Land Coverage,"Area Of Land Cover Class 11, Open Water %","Area Of Land Cover Class 12, Perennial Ice/Snow %","Area Of Land Cover Class 21, Developed, Open Space %","Area Of Land Cover Class 22, Developed, Low Intensity %",...,Asian 2020 %,Native Hawaiian and Other Pacific Islander 2020 %,Other 2020 %,Two or More Races 2020 %,Hispanic 2020 %,Median Family Income (5-year ACS),Fair Market Rent for One Bedroom,Fair Market Rent for Two Bedrooms,Fair Market Rent for Three Bedrooms,Fair Market Rent for Four Bedrooms
0,"Autauga County, Alabama",3193.429010,275.8,157,198.75,1.565344e+09,1.520637,0.0,4.081365,1.343781,...,1.498172,0.059519,1.547487,5.368591,3.600034,65700,702,830,1047,1425
1,"Baldwin County, Alabama",2215.270525,186.045454545455,85.625,89.1818181818182,4.224505e+09,2.253587,0.0,5.032666,1.951684,...,0.891844,0.061700,2.301881,6.482372,5.473601,81000,749,916,1251,1566
2,"Barbour County, Alabama",2815.487038,657,333,422,2.342655e+09,2.508346,0.0,3.424691,0.747844,...,0.463862,0.003965,4.119256,2.775245,5.986600,43800,481,633,789,925
3,"Bibb County, Alabama",1110.814894,432,161,279,1.621768e+09,0.725375,0.0,3.493133,0.419098,...,0.143543,0.040371,2.085857,3.404656,3.319428,73100,861,986,1291,1425
4,"Blount County, Alabama",2416.881789,286.285714285714,164.714285714286,206.714285714286,1.685142e+09,0.999316,0.0,4.694987,1.295944,...,0.301011,0.040586,5.802077,6.182568,9.759191,73100,861,986,1291,1425

In [101]:
def summarize_row(row):
    summary = (
        f"{row['Qualifying Name']} has the following characteristics:\n"
        f"- Terrain makeup: \n"
        f"    {row['Area Of Land Cover Class 11, Open Water %']}% open water, "
        f"{row['Area Of Land Cover Class 12, Perennial Ice/Snow %']}% perennial ice/snow, "
        f"{row['Area Of Land Cover Class 21, Developed, Open Space %']}% developed open space, "
        f"{row['Area Of Land Cover Class 22, Developed, Low Intensity %']}% developed low intensity, "
        f"{row['Area Of Land Cover Class 23, Developed, Medium Intensity %']}% developed medium intensity, "
        f"{row['Area Of Land Cover Class 24, Developed, High Intensity %']}% developed high intensity, "
        f"{row['Area Of Land Cover Class 31, Barren Land (Rock/Sand/Clay) %']}% barren land (rock/sand/clay), "
        f"{row['Area Of Land Cover Class 41, Deciduous Forest %']}% deciduous forest, "
        f"{row['Area Of Land Cover Class 42, Evergreen Forest %']}% evergreen forest, "
        f"{row['Area Of Land Cover Class 43, Mixed Forest %']}% mixed forest, "
        f"{row['Area Of Land Cover Class 52, Shrub/Scrub %']}% shrub/scrub, "
        f"{row['Area Of Land Cover Class 71, Grassland/Herbaceous %']}% grassland/herbaceous, "
        f"{row['Area Of Land Cover Class 81, Pasture/Hay %']}% pasture/hay, "
        f"{row['Area Of Land Cover Class 82, Cultivated Crops %']}% cultivated crops, "
        f"{row['Area Of Land Cover Class 90, Woody Wetlands %']}% woody wetlands, "
        f"{row['Area Of Land Cover Class 95, Emergent Herbaceous Wetlands %']}% emergent herbaceous wetlands.\n"
        f"- Demographic makeup: \n"
        f"    Total Population {row['2020 Total Population']}, "
        f"Population Density {row['2020 Population Density']} per sq. mi., "
        f"White {row['White 2020 %']}%, "
        f"African American or Black {row['African American or Black 2020 %']}%, "
        f"Hispanic {row['Hispanic 2020 %']}%, "
        f"Median Family Income {row['Median Family Income (5-year ACS)']}.\n"
        f"- Crime rates: \n"
        f"    Total Violent and Property Crimes Rate {row['Total Violent and Property Crimes Rate']} per 100,000 people.\n"
        f"- School rankings: \n"
        f"    Elementary {row['SchoolDigger Rank Elementary']}, "
        f"Middle {row['SchoolDigger Rank Middle']}, "
        f"High {row['SchoolDigger Rank High']}.\n"
        f"- Housing: \n"
        f"    Fair Market Rent for One Bedroom ${row['Fair Market Rent for One Bedroom']}, "
        f"Fair Market Rent for Two Bedrooms ${row['Fair Market Rent for Two Bedrooms']}, "
        f"Fair Market Rent for Three Bedrooms ${row['Fair Market Rent for Three Bedrooms']}, "
        f"Fair Market Rent for Four Bedrooms ${row['Fair Market Rent for Four Bedrooms']}."
    )
    return summary



# Function to create the combined string
def create_combined_string(row):
    question = f"What are the key terrain characteristics of {row['Qualifying Name']}?"
    answer = summarize_row(row)
    return f"[INST] {question} [/INST] {answer} </s>"

merged_df['Combined'] = merged_df.apply(create_combined_string, axis=1)

# Create a new DataFrame with the combined column
combined_df = merged_df[['Combined']]

combined_df.to_pickle('../data/social_explorer/5_datasets.pkl')

print(combined_df.iloc[0]['Combined'])

[INST] What are the key terrain characteristics of Autauga County, Alabama? [/INST] Autauga County, Alabama has the following characteristics:
- Terrain makeup:
    1.5206370945068364% open water, 0.0% perennial ice/snow, 4.08136512366388% developed open space, 1.3437813888692447% developed low intensity, 0.4260980606242501% developed medium intensity, 0.11389829417037368% developed high intensity, 0.2670084190445307% barren land (rock/sand/clay), 17.385444821422308% deciduous forest, 18.68667964911736% evergreen forest, 12.89603517795674% mixed forest, 17.71132848187545% shrub/scrub, 1.697895267614995% grassland/herbaceous, 12.098804614117064% pasture/hay, 6.1464832104945115% cultivated crops, 5.181193730016771% woody wetlands, 0.44334666650567967% emergent herbaceous wetlands.
- Demographic makeup:
    Total Population 58805.0, Population Density 98.9223582606555 per sq. mi., White 71.69458379389508%, African American or Black 19.462630728679535%, Hispanic 3.6000340107133746%, Median Family Income 65700.
- Crime rates:
    Total Violent and Property Crimes Rate 3193.42900983843 per 100,000 people.
- School rankings:
    Elementary 275.8, Middle 198.75, High 157.
- Housing:
    Fair Market Rent for One Bedroom $702, Fair Market Rent for Two Bedrooms $830, Fair Market Rent for Three Bedrooms $1047, Fair Market Rent for Four Bedrooms $1425. </s>